*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

body{
    display: grid;
    grid-template-areas: 
    "cabecera cabecera"
    "categorias productos"
    "pie pie";
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-columns: 2fr 8fr;
    height: 100vh;
}

.cabecera{
    background-color: rgb(122, 99, 145);
    grid-area: cabecera;
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
    
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    padding: 10px;
    
}
.logo-barra{
    display: flex;  
    align-items: center;
    gap: 20px;
}   
.logo{
    width: 50px;
    height: auto;
}
.buscador{
    padding: 10px;
    border-radius: 5px;
}

.categorias{
    background-color: rgb(159, 131, 131);
    grid-area: categorias;
    text-align: start;
    padding: 10px; 
    font-size: 20px;
    font-weight: lighter;

}
.opciones-cat{
    list-style: none;
    padding-left: 0;
}

.opciones-cat li{
    padding: 10px;
}

.opciones-cat a{
    text-decoration: none;
    color: white;
}

.opciones-cat a:hover{
    text-decoration: underline;
}

.productos{
    background-color: rgb(200, 170, 170);
    grid-area: productos;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
}
.caja-producto{
    display: flex;
    flex-direction: column;  
    align-items: center;
    min-width: 30%;
    border: 2px solid rgb(160, 128, 161);
    background-color: thistle;
    border-radius: 10px;
    padding: 15px;
}

.nombre-producto{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 5px 0;
}
.boton-producto{
    background-color: rgb(87, 73, 100);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: auto;
}
.imagen-producto{
    
    width: 100%;
    max-width: 200px;
    object-fit: contain;
    border-radius: 10px;
}
.pie{
    background-color:rgb(128, 96, 125);
    grid-area: pie;
}
.informaciones{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
    color: white;
    padding: 15px;
    font-size: 15px;
    font-weight: lighter;
}
footer p{
    text-align: center;
    color: thistle;
    padding-bottom: 10px;
}